:host {
  display: grid;
  grid-template-columns: repeat(30, 15px [col-start]);
  grid-template-rows: 1fr 1fr 1fr;
  column-gap: 2px;
  row-gap: 2px;
  background: greenyellow;
  justify-items: center;
  align-items: center;
  justify-content: space-evenly;
  align-content: center;
  grid-auto-flow: row;
  transition: all 1s;
}

.grid-item {
  border: 1px solid black;
  background: yellow;
  width: 15px;
  height: 15px;
  text-align: center;
}

.grid-item.done {
  background: grey;
}
